.footer {
    &__logo img {
        width: 15rem;
        max-width: 100%;
    }

    &__ul {

    }

    &__link {
        padding-bottom: 6px;
        font-size: 1.4rem;
        color: #6c757d;

        &:hover {
            color: var(--color-primary);
        }
    }
}

.copyright {
    background-color: var(--color-dark);
}
