.banner-section {
}

.banner {
    background-image: linear-gradient( to right, #DADADA, #a9a9a9 );
    background-position: center;

    &__item {
        height: 50rem;
        background-size: cover;
        display: flex !important;
        align-items: center;
        padding: 0 5rem;
        background-position: right;
    }

    &__title, &__subtitle {
        color: var(--bs-dark);
    }
}
