.button {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 5px 2rem;

    &--theme {
        padding: 5px 2rem;
        background-color: var(--color-primary);
        color: var(--bs-light) !important;

        &:hover, &:active , &:focus {
            background-color: var(--color-primary_hover);
        }
    }

    &--secondary {
        padding: 8px 3rem;
        font-size: 1.8rem;
        color: var(--bs-dark);
        background-color: var(--bs-light);
        border: 2px solid transparent;

        &:hover, &:focus, &.active {
            background-color: var(--color-primary);
            color: var(--bs-light);
        }

        &--theme {
            background-color: var(--color-primary);
            color: var(--bs-light);

            &:hover {
                color: var(--bs-dark);
                background-color: transparent;
                border-color: var(--color-primary);
            }
        }
    }

    &--dark {
        color: var(--bs-light) !important;
        background-color: var(--color-dark);
        
        &:hover, &:focus {
            background-color: var(--color-primary);
        }
    }

    &--light {
        background-color: var(--bs-light);
        color: var(--bs-dark);

        &.active {
            background-color: var(--color-primary);
            color: var(--bs-light);
        }
    }

    &--hover-dark:hover, &--hover-dark:focus {
        background-color: var(--color-dark);
        color: var(--bs-light);
    }

    &--icon {
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        
    }

    &--tiny {
        font-size: 1.2rem;
        padding: 3px 2rem;
        color: var(--bs-dark);
        background-color: transparent;

        &:hover, &.active {
            background-color: lighten(#ef3636, 35);
            color: var(--color-primary);
        }
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--flex {
        display: flex;
        width: 100%;
    }

    &--cart {
        position: relative;
    }

    &__quantity {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background-color: var(--color-primary);
        border-radius: 50%;
        font-size: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        color: var(--bs-light);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--filter {
        border: 2px solid var(--color-border);
        border-radius: 0;

        &:hover, &:focus, &.active {
            border-color: var(--color-primary);
        }
    }

    &--link {
        color: var(--bs-dark);
        background-color: var(--bs-white);
        font-size: 1.4rem;
        text-align: initial;
        font-weight: 500;
        display: flex;
        justify-content: space-between;

        &:hover, &:focus, &.active {
            color: var(--color-primary);
        }
    }
}