input:not(.not-default), textarea:not(.not-default) {
    border: 2px solid var(--color-border);
    padding: 1rem;
    font-size: 1.5rem;
    transition: .1s;

    &:focus {
        border-color: var(--color-primary);
    }
}