.heading {
    a {
        text-decoration: none;
        display: block;
    }

    &--section {
        margin-bottom: 3rem;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
    }
    
    &--primary {
        font-size: 4rem;
        font-weight: 300;
    }
    
    &--secondary {
        font-weight: 500;
        font-size: 25px;
    }
    
    &--tertiary {
        font-size: 1.8rem;
        font-weight: 500;
    }
    
    &--tertiary--2 {
        font-weight: 700;
        font-size: 1.4rem;
    }

    &:hover {
        a {
            color: var(--color-primary);
        }
    }
}

.banner__subtitle {

}
