.nav-bar {
    border-bottom: var(--border-light);

    &__top {
        padding: 4px 0;
        background-color: var(--color-dark);

        * {
            color: var(--bs-light);
        }
    }

    &__bottom {
        .logo-area {
            height: 100%;
            display: flex;
            align-items: center;
            border-right: var(--border-light);

            .logo {
                width: 15rem;
                max-width: 100%;
            }
        }
    }

    &__menu {
        border-bottom: var(--border-light);
        padding: 2rem 0;
    }

    &__desktop {
        ul {
            li {
                position: relative;
                display: inline-block;

                a {
                    display: block;
                    font-size: 1.4rem;
                    text-decoration: none;
                    padding: 4px 2rem;
                    font-weight: 700;
                    color: var(--bs-dark);

                    i {
                        margin-left: 1rem;
                    }

                    &:hover,
                    &:focus,
                    &.active {
                        color: var(--color-primary);
                    }
                }

                ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 14rem;
                    background-color: var(--color-dark);
                    z-index: 1;
                    padding: 1rem 0;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(-4px);
                    transition: .1s;

                    li {
                        display: block;
                    }

                    * {
                        color: var(--bs-light);
                    }
                }

                &:hover {
                    &>a {
                        color: var(--color-primary);
                    }
    
                    &>ul {
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    &__mobile {
        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__search-box {
        // padding: 1rem 0;
    }
}
.mobile-navigation--overlay {
    display: none;
}
.mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    // width: calc(100% - 7rem);
    width: 0;
    max-width: 32rem;
    background-color: var(--bs-light);
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width .2s;
    padding-top: 2rem;

    ul {
        position: relative;
        z-index: 6;

        li {
            display: block;
            position: relative;
            font-size: 1.6rem;

            a {
                padding: 4px 2rem;
                color: var(--bs-dark);
            }

            i {
                position: absolute;
                top: 2px;
                right: 1rem;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                background-color: darken(#fff, 10);

                &:hover, &:focus {
                    background-color: darken(#fff, 15);
                }
                &:active {
                    background-color: darken(#fff, 20);
                }
            }

            &:hover {
                &>a {
                    color: var(--color-primary);
                }
            }
        }

        ul {
            margin-left: 2rem;
            border-left: 2px solid var(--color-primary);
            display: none;
        }
    }
}
