.social-links {
    display: flex;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        font-size: 1.4rem;

        &--large {
            width: 4rem;
            height: 4rem;
            font-size: 2.5rem;
        }

        &--colorful {
            color: var(--bs-light) !important;

            &:hover {
                filter: brightness(87%);
            }
        }

        &:not(:last-child) {
            margin-right: .6rem;
        }
    }

    // &__icon {
        
    // }
}